MBX_CACHE_STORAGE="azure"
MBX_CACHE_DATABASE_URL="postgres://mbx_cache:replace-with-a-url-safe-password@postgres/mbx_cache"
MBX_CACHE_DATABASE_MAX_CONNECTIONS="32"
MBX_CACHE_AZURE_ACCOUNT="replacewithstorageaccount"
MBX_CACHE_AZURE_CONTAINER="cache"
MBX_CACHE_AZURE_PREFIX="v1"
MBX_CACHE_AZURE_CREDENTIAL_TYPE="managed_identity"
MBX_CACHE_OIDC_PROVIDERS_JSON="[]"
MBX_CACHE_ALLOW_ANONYMOUS="false"
MBX_CACHE_ANONYMOUS_READ_NAMESPACES_JSON="[]"
